<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>About us</title>
    <link rel="icon" type="image/ico" th:href="@{/images/icons/common.ico}"/>
    <link th:href="@{css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{css/cover.css}" rel="stylesheet">
    <link th:href="@{css/backgrounds.css}" rel="stylesheet" type="text/css">
    <link th:href="@{css/aboutPage.css}" rel="stylesheet" type="text/css">
</head>
<body class="text-center" id="aboutUsBgImage">
<div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
        <h3 class="masthead-brand">Construction firm</h3>
        <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link active" href="/home">Home</a>
            <a class="nav-link active" href="/gallery">Gallery</a>
        </nav>
    </header>
    <main role="main" class="inner cover">
        <pre class="cover-heading">
Our company is a leader in the market of construction companies.
We are constantly evolving and trying to improve our own services.
We want people to live in comfortable conditions and, therefore,
they can trust us!</pre>
    </main>
    <footer class="mastfoot mt-auto">
        <p>Construction firm for <a href="http://geekhub.ck.ua">Geekhub</a>, by <a
                href="https://www.facebook.com/andrey.reva">Andrii Reva</a>.</p>
    </footer>
</div>
</body>
</html>